.card {
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
  border: none;
  margin: 10px !important;
  width: 250px;
}

.card:hover {
  box-shadow: 2px 2px 20px rgba(33, 146, 59, 1);
}

.card-01 .card-body {
  position: relative;
  padding-top: 40px;
}

.card-01.height-fix {
  height: 455px;
  overflow: hidden;
}

.profile-box {
  background-size: cover;
  float: left;
  width: 100%;
  text-align: center;
  padding: 30px 0;
  position: relative;
  overflow: hidden;
}

.profile-box img {
  width: 170px;
  height: 170px;
  position: relative;
  border: 5px solid #fff;
}

.rounded-circle {
  border-radius: 50%;
}
.card-title {
  text-align: center;
  font-weight: bold;
}
.card-text {
  text-align: center;
  padding: 5px;
  padding-bottom: 10px;
}
.clickCursor {
  cursor: pointer;
}
.fbc-pink {
    background-color: #F27AAA;
}
.fbc-elem {
    height: 2px;
}
.footer-brand-colour {
  padding-top: 10px;
  padding-bottom: 9px;
}
.fbc-yellow {
    background-color: #FAED23;
}
.fbc-blue {
    background-color: #6FCCDD;
}
#footer{
  background-color: white;
}
#footerTextAllignment{
text-align: center;
font-size: 12px;
color: #646363;
font-family: arial;
margin-top: 1%;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
